global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    frontend http-in
        bind *:80
        default_backend webservers
backend webservers
        balance roundrobin
        # Poor-man's sticky
        # balance source
        # JSP SessionID Sticky
        # appsession JSESSIONID len 52 timeout 3h
        option httpchk
        option forwardfor
        option http-server-close
        {% for host in groups['webservers'] %}
        server {{ hostvars[host].inventory_hostname }} {{ hostvars[host].ansible_host }}:80 maxconn 32 check
        {% endfor %}
        # server web2 172.28.33.12:80 maxconn 32 check
listen admin
        bind *:8080
        stats enable
